@model ViewModels.EditBrandViewModel

@{
    ViewData["Title"] = "Manage Brands";
    ViewData["PageHeading"] = "Edit Brand";
    ViewData["EntityName"] = @Model.Name;
}

<div class="container">
    <form asp-controller="Brand" asp-action="Save" asp-route-id="@Model.Id" method="post">

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success mt-2">@TempData["Message"]</div>
        }
        <input asp-for="Id" type="hidden" />

        <div class="mb-3">
            <label for="Name" class="form-label">Brand Name</label>
            <input asp-for="Name" class="form-control">
        </div>

        <div class="row">
            <div id="errorRow1" class="text-danger fw-bold">
                Only one of these is allowed.
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="ProductCodeCutOffChar" class="form-label">Code Cut-Off Character (Optional)</label>
                    <input asp-for="ProductCodeCutOffChar" class="form-control" />
                    <div class="form-text">
                        If set, everything *after* this character is ignored. E.g., `12345_color` becomes `12345`.
                    </div>
                </div>
            </div>

            <div class="col-md-6">

                <div class="mb-3">
                    <label for="ProductCodeSliceOffset" class="form-label">Code Slice Offset (Optional)</label>
                    <input asp-for="ProductCodeSliceOffset" class="form-control" />
                    <div class="form-text">
                        If greater than zero, slices the code starting from this index. Useful for removing prefixes.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="errorRow2" class="text-danger fw-bold">
                Only one of these is allowed.
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="ProductCodeDelimiterChar" class="form-label">Code Delimiter Character (Optional)</label>
                    <input asp-for="ProductCodeDelimiterChar" class="form-control">
                    <div class="form-text">
                        Character used to split the product code into two parts.
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label for="ProductCodeDelimiterOffset" class="form-label">Delimiter Offset (Optional)</label>
                    <input asp-for="ProductCodeDelimiterOffset" class="form-control" />
                    <div class="form-text">
                        If a delimiter is used, this specifies which part (0-indexed) of the split code is the main ID.
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <div class="d-flex align-items-center gap-4 mb-3">
                <h3 class="fs-5 fw-semibold">Image URLs</h3>
                <button id="addUrlBtn" type="button" class="btn btn-success">
                    + Add
                </button>
            </div>


            <table class="table table-sm table-hover align-middle" id="urlsTable">
                <thead class="table-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Patterns</th>
                    </tr>
                </thead>
                <tbody id="url-sortable">
                    @if (Model.ImageUrls != null && Model.ImageUrls.Any())
                    {
                        @Html.EditorFor(m => m.ImageUrls)
                    }
                    else
                    {
                        <tr>
                            <td colspan="2" class="text-muted text-left">
                                No URLs set yet.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="mt-4">
            <div class="d-flex align-items-center gap-4 mb-3">
                <h3 class="fs-5 fw-semibold">URL Parameters</h3>
                <button id="addParamBtn" type="button" class="btn btn-success">
                    + Add
                </button>
            </div>

            <table id="paramsTable" class="table table-sm table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Fixed Value</th>
                        <th scope="col">Keep in Url?</th>
                        <th scope="col">Placeholder</th>
                        <th scope="col">Lowercase?</th>
                        <th scope="col">Uppercase?</th>
                    </tr>
                </thead>
                <tbody id="params-sortable">
                    @if (Model.UrlParams != null && Model.UrlParams.Any())
                    {
                        @Html.EditorFor(m => m.UrlParams)
                    }
                    else
                    {
                        <tr>
                            <td colspan="9" class="text-muted text-left">
                                No params set yet.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
            <button id="submitBtn" type="submit" class="btn btn-shotify-primary px-4">Save Changes</button>
            <a asp-controller="Brand" asp-action="List" class="btn btn-secondary px-4">Cancel</a>
        </div>
    </form>

</div>

@section Scripts {
    <script>
        if (!window.App) {
            window.App = {}
        }

        window.App.data = {
            newUrlRows: 0,
            newParamRows: 0
        };

        $(function () {
            $("#params-sortable, #url-sortable").sortable({
                items: "tr",
                handle: ".drag-handle",
                helper: function (e, ui) {
                    ui.children().each(function () {
                        $(this).width($(this).width());
                    });
                    return ui;
                },
                update: function () {
                    $("#params-sortable tr, #url-sortable tr").each(function (index) {
                        const $field = $(this).find(".order-field");
                        console.log("Row", index, "found", $field.length, "order-field(s)");
                        $field.val(index + 1).attr("value", index + 1);
                    });
                }
            }).disableSelection();

            $("#addUrlBtn").on("click", function () {
                let index = window.App.data.newUrlRows;
                generateUrlRow(index);
                window.App.data.newUrlRows++;
            });
            $("#addParamBtn").on("click", function () {
                let index = window.App.data.newParamRows;
                generateParamRow(index);
                window.App.data.newParamRows++;
            });

            function generateUrlRow(index) {
                let $container = $("#urlsTable tbody");
                let brandId = $("#Id").val();
                $container.append(`<tr><input type="hidden" name="NewUrls[${index}].BrandId" value="${brandId}"><td class="col-1"><input type="number" name="NewUrls[${index}].Order" class="form-control form-control-sm" /></td><td class="col-10"><input type="text" name="NewUrls[${index}].Pattern" class="form-control form-control-sm" /></td></tr>`);
            }

            function generateParamRow(index) {
                let $container = $("#paramsTable tbody");
                let brandId = $("#Id").val();
                $container.append(`<tr>
    <input type="hidden" name="NewParams[${index}].BrandId" value="${brandId}"/>
    <td class="col-1">
    <input type="text" name="NewParams[${index}].Order" class="form-control form-control-sm" />
    </td>
    <td class="col-1">
    <input type="text" name="NewParams[${index}].Name" class="form-control form-control-sm" />
    </td>
    <td class="col-1">
    <input type="text" name="NewParams[${index}].Description" class="form-control form-control-sm" />
    </td>
    <td class="col-1">
    <input type="text" name="NewParams[${index}].FixedValue" class="form-control form-control-sm" />
    </td>
    <td class="col-1 text-center">
    <input type="checkbox" name="NewParams[${index}].IsKeepInUrl" class="form-check-input custom-checkbox" value="true" />
    <input type="hidden" name="NewParams[${index}].IsKeepInUrl" class="form-check-input custom-checkbox" value="false" />
    </td>
    <td class="col-1">
    <input type="text" name="NewParams[${index}].PlaceholderInUrl" class="form-control form-control-sm" />
    </td>
    <td class="col-1 text-center">
    <input type="checkbox" name="NewParams[${index}].IsAllLowerCase" class="form-check-input custom-checkbox" value="true" />
    <input type="hidden" name="NewParams[${index}].IsAllLowerCase" class="form-check-input custom-checkbox" value="false" />
    </td>
    <td class="col-1 text-center">
    <input type="checkbox" name="NewParams[${index}].IsAllUpperCase" class="form-check-input custom-checkbox" value="true" />
    <input type="hidden" name="NewParams[${index}].IsAllUpperCase" class="form-check-input custom-checkbox" value="false" />
        </td>
        </tr>`);
            }


            function enforceConfigRules() {
                let cutOffChar = $("#ProductCodeCutOffChar").val().trim();
                let sliceOffset = $("#ProductCodeSliceOffset").val().trim();
                let delimChar = $("#ProductCodeDelimiterChar").val().trim();
                let delimOffset = $("#ProductCodeDelimiterOffset").val().trim();

                let errorRow1 = !!(cutOffChar && sliceOffset);
                let errorRow2 = !!(delimChar && delimOffset);

                if (errorRow1) {
                    $("#errorRow1").stop(true, true).slideDown(200);
                    $("#errorRow1").parent().addClass("bg-warning-subtle");
                } else {
                    $("#errorRow1").stop(true, true).slideUp(200);
                    $("#errorRow1").parent().removeClass("bg-warning-subtle");
                }

                if (errorRow2) {
                    $("#errorRow2").parent().addClass("bg-warning-subtle");
                    $("#errorRow2").stop(true, true).slideDown(200);
                } else {
                    $("#errorRow2").stop(true, true).slideUp(200);
                    $("#errorRow2").parent().removeClass("bg-warning-subtle");
                }

                $("#submitBtn").prop("disabled", errorRow1 || errorRow2);
            }
            $("#ProductCodeCutOffChar, #ProductCodeSliceOffset, #ProductCodeDelimiterChar, #ProductCodeDelimiterOffset").on("input blur", enforceConfigRules);

            enforceConfigRules();
        })

    </script>
}