@model ViewModels.EditBrandViewModel

@{
    ViewData["Title"] = "Manage Brands";
    ViewData["PageHeading"] = "Edit Brand";
    ViewData["EntityName"] = @Model.Name;
}

<div class="container">
    <form action="/admin/brand/@Model.Id" method="post">

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success">@TempData["Message"]</div>
        }
        <input type="hidden" name="Id" value="@Model.Id" />

        <div class="mb-3">
            <label for="Name" class="form-label">Brand Name</label>
            <input type="text" id="Name" name="Name" class="form-control" value="@Model.Name" required>
        </div>

        <div class="row">
            <div id="errorRow1" class="text-danger fw-bold">
                Only one of these is allowed.
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="ProductCodeCutOffChar" class="form-label">Code Cut-Off Character (Optional)</label>
                    <input type="text" id="ProductCodeCutOffChar" name="ProductCodeCutOffChar" class="form-control"
                        value="@Model.ProductCodeCutOffChar">
                    <div class="form-text">
                        If set, everything *after* this character is ignored. E.g., `12345_color` becomes `12345`.
                    </div>
                </div>
            </div>

            <div class="col-md-6">

                <div class="mb-3">
                    <label for="ProductCodeSliceOffset" class="form-label">Code Slice Offset (Optional)</label>
                    <input type="number" id="ProductCodeSliceOffset" name="ProductCodeSliceOffset" class="form-control"
                        value="@Model.ProductCodeSliceOffset">
                    <div class="form-text">
                        If greater than zero, slices the code starting from this index. Useful for removing prefixes.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="errorRow2" class="text-danger fw-bold">
                Only one of these is allowed.
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="ProductCodeDelimiterChar" class="form-label">Code Delimiter Character (Optional)</label>
                    <input type="text" id="ProductCodeDelimiterChar" name="ProductCodeDelimiterChar"
                        class="form-control" value="@Model.ProductCodeDelimiterChar">
                    <div class="form-text">
                        Character used to split the product code into two parts.
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label for="ProductCodeDelimiterOffset" class="form-label">Delimiter Offset (Optional)</label>
                    <input type="number" id="ProductCodeDelimiterOffset" name="ProductCodeDelimiterOffset"
                        class="form-control" value="@Model.ProductCodeDelimiterOffset">
                    <div class="form-text">
                        If a delimiter is used, this specifies which part (0-indexed) of the split code is the main ID.
                    </div>
                </div>
            </div>
        </div>

        @if (Model.ImageUrls != null && Model.ImageUrls.Any())
        {
            <div class="mt-4">
                <h3 class="fs-5 fw-semibold mb-3">Image URLs</h3>
                <table class="table table-sm table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Order</th>
                            <th scope="col">Pattern</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ImageUrls.Count; i++)
                        {
                            var url = Model.ImageUrls[i];
                            <tr data-id="@url.Id">
                                <td class="col-1">
                                    <input type="number" class="form-control form-control-sm" name="ImageUrls[@i].Order"
                                        value="@url.Order" min="1" />
                                </td>
                                <td class="col-10">
                                    <input type="text" class="form-control form-control-sm" name="ImageUrls[@i].Pattern"
                                        value="@url.Pattern" />
                                </td>
                                <input type="hidden" name="ImageUrls[@i].Id" value="@url.Id" />
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p class="text-muted mt-4">No URLS set yet.</p>
        }

        @if (Model.UrlParams != null && Model.UrlParams.Any())
        {
            <div class="mt-4">
                <h3 class="fs-5 fw-semibold mb-3">URL Parameters</h3>
                <table class="table table-sm table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Order</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Fixed Value</th>
                            <th scope="col">Keep in Url?</th>
                            <th scope="col">Placeholder</th>
                            <th scope="col">Lowercase?</th>
                            <th scope="col">Uppercase?</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.UrlParams.Count; i++)
                        {
                            var url = Model.UrlParams[i];
                            <tr data-id="@url.Id">
                                <input type="hidden" name="UrlParams[@i].Id" value="@url.Id" />
                                <td class="col-1">
                                    <input type="number" class="form-control form-control-sm" name="UrlParams[@i].Order"
                                        value="@url.Order" min="1" />
                                </td>
                                <td class="col-1">
                                    <input type="text" class="form-control form-control-sm" name="UrlParams[@i].Name"
                                        value="@url.Name" />
                                </td>
                                <td class="col-1">
                                    <input type="text" class="form-control form-control-sm" name="UrlParams[@i].Description"
                                        value="@url.Description" />
                                </td>
                                <td class="col-1">
                                    <input type="text" class="form-control form-control-sm" name="UrlParams[@i].FixedValue"
                                        value="@url.FixedValue" />
                                </td>
                                <td class="col-1 text-center">
                                    <input asp-for="UrlParams[@i].IsKeepInUrl" class="form-check-input custom-checkbox" />
                                </td>
                                <td class="col-1">
                                    <input asp-for="UrlParams[@i].PlaceholderInUrl" class="form-control form-control-sm" />
                                </td>
                                <td class="col-1 text-center">
                                    <input asp-for="UrlParams[@i].IsAllLowerCase" class="form-check-input custom-checkbox" />
                                </td>
                                <td class="col-1 text-center">
                                    <input asp-for="UrlParams[@i].IsAllUpperCase" class="form-check-input custom-checkbox" />
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p class="text-muted mt-4">No params set yet.</p>
        }

        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
            <button id="submitBtn" type="submit" class="btn btn-shotify-primary px-4">Save Changes</button>
            <a href="/Admin/Brands" class="btn btn-secondary px-4">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(function () {
            function enforceConfigRules() {
                let cutOffChar = $("#ProductCodeCutOffChar").val().trim();
                let sliceOffset = $("#ProductCodeSliceOffset").val().trim();
                let delimChar = $("#ProductCodeDelimiterChar").val().trim();
                let delimOffset = $("#ProductCodeDelimiterOffset").val().trim();

                let errorRow1 = !!(cutOffChar && sliceOffset);
                let errorRow2 = !!(delimChar && delimOffset);

                if (errorRow1) {
                    $("#errorRow1").stop(true, true).slideDown(200);
                    $("#errorRow1").parent().addClass("bg-warning-subtle");
                } else {
                    $("#errorRow1").stop(true, true).slideUp(200);
                    $("#errorRow1").parent().removeClass("bg-warning-subtle");
                }

                if (errorRow2) {
                    $("#errorRow2").parent().addClass("bg-warning-subtle");
                    $("#errorRow2").stop(true, true).slideDown(200);
                } else {
                    $("#errorRow2").stop(true, true).slideUp(200);
                    $("#errorRow2").parent().removeClass("bg-warning-subtle");
                }

                $("#submitBtn").prop("disabled", errorRow1 || errorRow2);
            }
            $("#ProductCodeCutOffChar, #ProductCodeSliceOffset, #ProductCodeDelimiterChar, #ProductCodeDelimiterOffset").on("input blur", enforceConfigRules);

            enforceConfigRules();
        })
    </script>
}